# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore models
models/
!models/.gitkeep

# Ignore local attendance records and test files
attendance/
test.py

# Ignore compiled cache from specific subfolders (if any still tracked)
attendance_log/__pycache__/
camera_capture/__pycache__/
database/__pycache__/
face_detection/__pycache__/
face_recognition/__pycache__/

# Ignore all the images in the  captures folder
captures/*
!captures/.gitkeep

# dlib file
dlib-19.24.6-cp310-cp310-win_amd64.whl